<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />        
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/html_responsive.css')}}" />
    <link href='http://fonts.googleapis.com/css?family=Orbitron:400,700,500,900' rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
	{% block scripts %}{% endblock %}
  </head>
  <body>
    <header>
      <a href="#"></a>
    </header>
    <div class="container">
      <!-- Push Wrapper -->
	  <div class="mp-pusher" id="mp-pusher">
	    <!-- mp-menu -->
        {% block menu %}{% endblock %}
		<div class="scroller"><!-- this is for emulating position fixed of the nav -->
          <div class="scroller-inner">
            <div id="main-content">
              <div id="access-menu"><a href="#" id="trigger" class="menu-trigger"><span>Accès Menu</span></a></div>
              {% block body %}{% endblock %}
            </div>
            {% block footer %}{% endblock %}           
          </div>
        </div>
      </div><!-- /pusher -->
    </div>
    {% block javascripts %}{% endblock %}
  </body>
</html>