/**BODY**/
.clearfix {
    clear: both;
}

html {
    font-size: 16px;
}

body {
    background: #fff;
    position: relative;
}

#background_all {
    background: url('../images/background.png') no-repeat center center / cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

html, body, p, h1, h2, h3, h4, h5, h3, ul, li, ol, div {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #F7F7F7;
}

h1, h2, h3 {
    font-family: 'Orbitron',sans-serif;
}

h3 {
    font-size: 0.750em;
}

.clear {
    clear: both;
}
/** MESSAGE D'ERREUR **/
#message {
    font-style: italic;
    background: black;
    color: #fff;
    padding: 5px 20px;
}
/**HEADER**/
header {
    height: 131px;
    background: #fff;
    margin-left: 65px;
    display: block;
}

header a{
    display: block;
    color: highlight;
    padding: 28px 50px;
    font-size: 1.5em;
}

header a span{
    display: block;
    font-size: 0.571em;
    margin-left: 98px;
    font-style: italic;
}

/** CONTENT **/
#main-content {
  margin-left: 65px;
  min-height: 70%;
  border-left: 2px solid #000;
}
#homepage {
    padding: 20px;
}

/** FOOTER **/
footer {
    border-top: 2px solid #000;
    background: #4C605D;
    margin-left: 65px;
    padding-top: 10px;
    color: #fff;
    display: block;
}

#footer-content {
    max-width: 1010px;
    margin: 0 auto;
}

#a-propos,
#reseaux-sociaux,
#formulaire-contact {
    width: 30%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

footer h3 {
    padding-bottom: 10px;
}

#a-propos p,
#reseaux-sociaux p,
#formulaire-contact p {
    font-size: 0.688em;
}

#reseaux-sociaux {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.hi-icon.hi-icon-facebook {
    margin-left: 10%;
}

footer .hi-icon {
    margin-top: 5px;
}

/**HOMEPAGE**/
.homepage-rubrique {
    background: #fff;
    opacity: 0.60;
    padding: 10px;
}
#homepage-actualite {
    width: 98%;
    background: none;
    opacity: 1;
    color:#fff;
}

#homepage-post {
    float: right;
    width: 40%;
    margin-top: 20px;
    opacity: 1;
    background: none;
}

#homepage-travaux, #homepage-cv {
    width: 55%;
    margin-top: 20px;
}

/** MENU **/
#main_naviguation {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    z-index: 1;
}

#main_naviguation ul{
    display: none;
    height: 100%;
    position: fixed;
    top: 10px;
    color: #fff;
}

#main_naviguation ul li {
    background: highlight;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-left: 0;
    width: 80px;
}

.no-touch #main_naviguation ul li:hover {
    background: #fff;
    color: highlight;
    border: 1px solid highlight;
}

#main_naviguation span {	
    color: #fff;
    font-family: 'Orbitron';
    text-transform: uppercase;
    display: block;
    position: fixed;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    width: 55px;
    height: 60px;
    top: 10px;
    background: #4c605d url('../images/menu_access.png') no-repeat center bottom;
}