/**BODY**/
html {
	font-size: 16px;
	height: 100%;
	background: #4C605D;
}

body {
	background: #fff;
}

html, body, p, h1, h2, h3, h4, h5, h3, ul, li, ol, div {
    padding: 0;
    margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

h1, h2, h3 {
	font-family: 'Orbitron',sans-serif;
}

h3 {
	font-size: 0.750em;
}

/**HEADER**/
header {
    height: 131px;
}
header a{
    background: url(../images/background_header.png) center center;
    height: 100%;
    border-bottom: 3px solid #fff;
    display: inline-block;
    width: 100%;
}

/** MENU **/
#mp-menu{
	margin: 0 auto;
	max-width: 980px;
	box-shadow: 0 8px 12px #aaa;
	margin-bottom: 12px;
}

h2.icon-world {
    display: none;
}

#mp-menu ul {
    list-style-type: none;
    height: 35px;
    font-family: 'Orbitron', sans-serif;
}

.mp-back {
   display: none;
}

.mp-back,
.level-down > h2.icon,
.level-down ul {
    display: none;
}

/*#mp-pusher p {
    margin: 0;
    height: 100%;
    display: block;
    background: #336CA6;   
    border-left: 1px solid #fff;
    width: 5%;
}*/
#mp-pusher p span {
    /*-webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);*/	
	display: none;
	/*left: -23px;
    position: absolute;
    top: 74px;
    width: 100px;*/
}

#mp-menu .main-level {
	width: 19%;
	display: inline-block;
	height: 35px;
}

#mp-menu a.icon {
	display: block;
	width: 100%;
	text-align: center;
	height: 35px;
	line-height: 1.9;
	text-transform: uppercase;
}

/** CONTENT **/
#main-content {
	max-width: 980px;
	margin: 0 auto;
	min-height: 300px;	
    border-right: 1px solid #34495E;
    border-left: 1px solid #34495E;
}
#homepage {
    padding: 20px;
}

/** FOOTER **/
footer {
	border-top: 2px solid #000;
	/*bottom: 0;
    left: 67px;
    position: absolute;*/
    background: #4C605D;
    width: 100%;
    padding-top: 10px;
    color: #fff;
}

#footer-content {
	max-width: 980px;
	margin: 0 auto;
}

#a-propos,
#reseaux-sociaux,
#formulaire-contact {
	width: 30%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

footer h3 {
	padding-bottom: 10px;
}

#a-propos p,
#reseaux-sociaux p,
#formulaire-contact p {
	font-size: 0.688em;
}

#reseaux-sociaux {
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}
