@media screen and (max-width: 960px) {
    .hi-icon.hi-icon-facebook {
      margin-left: 0;
    }	
}

@media screen and (max-width: 800px) {
  #a-propos,
  #reseaux-sociaux,
  #formulaire-contact {
    display: inline-block;
    width: 28%;
  }
  
  .hi-icon {
    margin: 15px 3%!important;
  }
  
  .hi-icon.hi-icon-facebook {
    margin-left: 0!important;
  }
}

@media screen and (max-width: 680px) {
    #homepage-post {
      float: none;
      width: 95%;
    }

    #homepage-travaux,
    #homepage-cv {
      width: 95%;
    }

    #homepage-actualite {
      width: 95%;
    }
}

@media screen and (max-width: 660px) {
  header a {
    font-size: 1.2em;
    padding: 20px;
  }

    header a span {
      margin-left: 0;
    }

  #a-propos,
  #reseaux-sociaux,
  #formulaire-contact {
    display: block;
    width: 96%;
  }
  
  #reseaux-sociaux {
    border: none;
    padding-left: 0;
    border-top: solid #fff 1px;
    border-bottom: solid #fff 1px;
  }
  
  header a {
    border-bottom: none;
  }

  .main-content {
    display: inline-block;
    width: 85%;
  }

}

@media screen and (max-width: 440px) {
  header a {
    padding: 10px;
  }

}