{# src/Portfolio/PortfolioBundle/Resources/views/Pages/index.html.twig #}

{% extends 'PortfolioPortfolioBundle::layout.html.twig' %}

{% block title %}index{% endblock %}

{% block content %}	
	<div id="homepage">
	  Bienvenue!
	</div> 
{% endblock %}
