{# src/Portfolio/PortfolioBundle/Resources/views/Pages/index.html.twig #}

{% extends 'PortfolioPortfolioBundle::layout.html.twig' %}

{% block title %}index{% endblock %}

{% block content %}	
	<div id="homepage">
	  <div class="homepage-rubrique" id="homepage-actualite">
	    Actualités
	  </div>
	  <div class="homepage-rubrique" id="homepage-travaux">
	    Travaux
	  </div>
	  <div class="homepage-rubrique" id="homepage-cv">
	    CV
	  </div>
	</div> 
{% endblock %}
